@use "../abstracts/" as *;

.footer {
    @include flex(null, space-between, center);
    padding: $medium-spacing;
    font-family: $footer-font-family;
    font-weight: $footer-font-weight;
    font-size: $footer-font-size;
    line-height: $footer-line-height;
    background: $footer-background-color;
    color: $footer-color-default;

    &__nav {
        @include list-reset;
        @include flex(column);

        &_item {
            padding: $small-spacing $medium-spacing;

            @include mq(md) {


                &:not(:last-child) {
                    border-right: 1px solid $footer-color-default;
                }

                :hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        @include mq(md) {
            & {
                @include flex(row);
            }
        }

    }
}