@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

$font-family-Poppins: 'Poppins', system-ui, sans-serif;
$font-family-Monserrat: "Montserrat", sans-serif;

$base-font-size: 16px;

$sm-font-size: $base-font-size * 0.85;
$md-font-size: $base-font-size;
$lg-font-size: $base-font-size * 1.25;
$xl-font-size: $base-font-size * 1.5;
$xxl-font-size: $base-font-size * 2;

$line-height : 1.6;

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;