<article class="main__card">
    <div class="main__card_wrapper">
        <figure class="main__card_figure">
            <img src="{{src}}" alt="{{alt}}" />
        </figure>
        <div class="main__card_body">
            <p class="main__card_description">
                {{description}}
            </p>
            <p class="main__card_content">
                {{content}}
            </p>
            <div class="main__card_footer">
                <a class="main__card_btn" href="#">ver más</a>
            </div>
        </div>

    </div>
</article>