<header class="navbar__header">
    <nav class="navbar" role="navigation" aria-label="Main Navigation">
        <a class="navbar__logo" href="#" role="link" aria-label="Home">
            <img src="/public/Logo-512x512.png" alt="Logo" width="64" height="64" style="object-fit: contain;" />
        </a>
        <button class="navbar__menu_toggler" aria-label="Menu Toggler">
            {{> icons/menu }}
        </button>
        <ul class="navbar__menu" role="menu" aria-label="Navigation Menu">
            <li class="navbar__menu_item navbar__menu_item--active" role="menuitem">
                <a class="navbar__menu_link" href='#'>
                    Inicio
                </a>
            </li>
            <li class="navbar__menu_item" role="menuitem">
                <a class="navbar__menu_link" href='#'>
                    Sobre nosotros
                </a>
            </li>
            <li class="navbar__menu_item" role="menuitem">
                <a class="navbar__menu_link" href='#'>
                    Contacto
                </a>
            </li>
        </ul>
    </nav>
</header>