<main class="main">
    <section class="main__carousel">
        <section class="splide" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="https://source.unsplash.com/featured/1100x300" alt="">
                    </li>
                    <li class="splide__slide">
                        <img src="https://source.unsplash.com/featured/1100x301" alt="">
                    </li>
                    <li class="splide__slide">
                        <img src="https://source.unsplash.com/featured/1100x302" alt="">
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <section class="main__articles">
        {{> card src="https://source.unsplash.com/featured/300x201" alt="Lorem ipsum" description="Lorem ipsum dolor sit
        amet, consectetur
        adipiscing elit. Integer at nulla a mi posuere eleifend aliquet
        rutrum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
        content="Cras sed blandit tortor. Etiam fermentum est mi, quis lacinia mauris tristique id. Morbi euismod nunc
        nec nisl molestie finibus. Integer tempor pharetra nibh, in finibus purus tristique eu. Mauris scelerisque lorem
        massa, quis pulvinar massa vestibulum sit amet. Suspendisse sapien est, commodo eget mauris quis, laoreet
        pellentesque nisl. Suspendisse eget massa sit amet augue viverra placerat.

        Donec et cursus dolor. Donec sed facilisis lacus. Aliquam eget laoreet velit, vel tempor tellus. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vitae elit non nisl pharetra
        molestie. Integer tempor interdum lorem eget sodales. Fusce viverra eros et nunc suscipit iaculis. Cras porta
        augue id odio molestie pretium sit amet nec ante. Ut ac dolor in est commodo vehicula."}}
        {{> card src="https://source.unsplash.com/featured/300x202" alt="Lorem ipsum" description="Lorem ipsum dolor sit
        amet, consectetur
        adipiscing elit. Integer at nulla a mi posuere eleifend aliquet
        rutrum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
        content="Cras sed blandit tortor. Etiam fermentum est mi, quis lacinia mauris tristique id. Morbi euismod nunc
        nec nisl molestie finibus. Integer tempor pharetra nibh, in finibus purus tristique eu. Mauris scelerisque lorem
        massa, quis pulvinar massa vestibulum sit amet. Suspendisse sapien est, commodo eget mauris quis, laoreet
        pellentesque nisl. Suspendisse eget massa sit amet augue viverra placerat.

        Donec et cursus dolor. Donec sed facilisis lacus. Aliquam eget laoreet velit, vel tempor tellus. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vitae elit non nisl pharetra
        molestie. Integer tempor interdum lorem eget sodales. Fusce viverra eros et nunc suscipit iaculis. Cras porta
        augue id odio molestie pretium sit amet nec ante. Ut ac dolor in est commodo vehicula."}}
        {{> card src="https://source.unsplash.com/featured/300x203" alt="Lorem ipsum" description="Lorem ipsum dolor sit
        amet, consectetur
        adipiscing elit. Integer at nulla a mi posuere eleifend aliquet
        rutrum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
        content="Cras sed blandit tortor. Etiam fermentum est mi, quis lacinia mauris tristique id. Morbi euismod nunc
        nec nisl molestie finibus. Integer tempor pharetra nibh, in finibus purus tristique eu. Mauris scelerisque lorem
        massa, quis pulvinar massa vestibulum sit amet. Suspendisse sapien est, commodo eget mauris quis, laoreet
        pellentesque nisl. Suspendisse eget massa sit amet augue viverra placerat.

        Donec et cursus dolor. Donec sed facilisis lacus. Aliquam eget laoreet velit, vel tempor tellus. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vitae elit non nisl pharetra
        molestie. Integer tempor interdum lorem eget sodales. Fusce viverra eros et nunc suscipit iaculis. Cras porta
        augue id odio molestie pretium sit amet nec ante. Ut ac dolor in est commodo vehicula."}}
    </section>
</main>